
  
  .table-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-container th, .table-container td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table-container th {
    cursor: pointer;
    white-space: nowrap;
  }
  
  .table-container td {
    word-wrap: break-word;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .header p {
    margin: 0;
    color: gray;
  }
  
  
  
  .action-icon {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .edit-icon {
    color: blue;
  }
  
  .delete-icon {
    color: red;
  }
  
  .view-icon {
    color: green;
  }
  
.search-barr {
    margin: 20px 0;
    position: relative;
  }
  
  .search-barr input {
    width: 15%;
    padding: 10px;
    padding-left: 10px; 
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  .search-barr input::placeholder {
    font-style: italic;
    color: #999;
  }
  
  .search-barr input:focus {
    border-color: #ff7f00;
    box-shadow: 0 0 5px rgba(255, 127, 0, 0.5);
  }
.Beand-listt {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .headerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerr h2 {
    margin: 0;
  }
  
  .headerr p {
    margin: 0;
    color: gray;
  }
  
  .add-buttonn {
    background-color: #ff7f00;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-buttonn:hover {
    background-color: #e06600;
  }

  
  